@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Edit Event</h1>

<form method="post">
    <input type="hidden" name="eventId" value="@ViewBag.Event.Id" />
    <label for="name">Name</label>
    <input name="name" type="text" value="@ViewBag.Event.Name"/>

    <label for="description">Description</label>
    <input name="description" value="@ViewBag.Event.Description"/>

    <input type="submit" value="Update Event" />
</form>