<h1>Coding Events</h1>

   <table>
      <tr>
         <th>
            Name
         </th>
         <th>
            Description
         </th>
      </tr>    
      @foreach (KeyValuePair<string, string> evt in ViewBag.events)
      {
         <tr>
            <td>@evt.Key</td>
            <td>@evt.Value</td>
         </tr>
      }
</table>